h1{color: black;}
*{
    border: solid;
    text-align: center;
} 
.header{
    background-color: wheat;
}
.grid{
    background-color: wheat;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    background-color: wheat;
    display: flex;
    justify-content: flex-end;
}
h2{
    text-align: center;
}
