h1{color: black;}
*{
    border: solid;
} 
.header{
    background-color: wheat;
}
.grid{
    background-color: wheat;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
