h1{color:#000000;}
*{
    border: solid;
    text-align: center;
} 
.header{
    background-color: #f5deb3;
}
.grid{
    background-color: #f5deb3;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    background-color: #f5deb3;
    display: flex;
    justify-content: flex-end;
}
h2{
    text-align: center;
}
